---
title: Symbols
---

<h1>Symbols</h1>

<table class="table table-striped table-sm">
  <thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Character</th>
    <th>Black</th>
    <th>White</th>
    <th>Transparent</th>
  </tr>
  </thead>
  <tbody>
  <% data.symbols.symbols.each_with_index do |symbol, index| %>
    <tr>
      <td><code><%= symbol %></code></td>
      <td><code><%= "0x%04x" % [33 + index] %></code></td>
      <td><code><%= ("&#x%04x" % (33 + index)).html_safe %>;</code></td>
      <td><%= image_tag "images/svg/black/#{symbol}.svg", width: 36, height: 36 %></td>
      <td><%= image_tag "images/svg/white/#{symbol}.svg", width: 36, height: 36 %></td>
      <td><%= image_tag "images/svg/transparent/#{symbol}.svg", width: 36, height: 36 %></td>
    </tr>
  <% end %>
  </tbody>
</table>

